extends ../../layout

block content
    .span6
        p Gathering Server AppState...
        pre=appstate


extends ../../layout

block content
    .span6
        p Gathering 4D Server AppState...
        pre=appstate